.Card{
    width: 32%;
    min-height: 200px;
    border:  0.2px solid rgb(204, 204, 204);
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 4px;
}

.Card .image{
    width: 100%;
}

.Card .image img{
    width: 100%;
}

.Card .card_body{
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    justify-content: center;
    gap: 5px;
}

.Card .card_body h3{
    font-size: 18px;
    font-weight: 700;
}

.Card .card_body p{
    text-overflow: ellipsis;
    color: #002147a8;
    font-weight: 400;
}